In [47]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [48]:
df = pd.read_excel('my_data.xlsx')

In [49]:
df = df.rename(columns={
    'Savdo sana': 'date', 
    'Savdo shakli': 'form_trade', 
    'Savdo punkti': 'point_sale', 
    'Diller nomi': 'dealer' ,
    'ID mahsulot': 'id_product', 
    'Kategoriya mahsulot': 'category', 
    'Podkategoriya': 'subcategory', 
    'Mahsulot nomi': 'product_name',
    'Miqdor savdo': 'quantity',
    'Narx': 'price', 
    'Summa': 'revenue'   
})

In [50]:
df.isna().sum()

date            0
form_trade      0
point_sale      0
dealer          0
id_product      0
category        0
subcategory     0
product_name    0
quantity        0
price           0
revenue         0
dtype: int64

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6400 entries, 0 to 6399
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          6400 non-null   datetime64[ns]
 1   form_trade    6400 non-null   object
 2   point_sale    6400 non-null   object
 3   dealer        6400 non-null   object
 4   id_product    6400 non-null   object
 5   category      6400 non-null   object
 6   subcategory   6400 non-null   object
 7   product_name  6400 non-null   object
 8   quantity      6400 non-null   int64
 9   price         6400 non-null   int64
 10  revenue       6400 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 550.1+ KB

In [52]:
# --------------------------------------------------------------------------------------------------------------------------- #

In [53]:
df.head()

,date,form_trade,point_sale,dealer,id_product,category,subcategory,product_name,quantity,price,revenue
0,2023-01-01,Sayt,Sayt,Sayt,Ab001,Мониторы,Мониторы кронштейны,Настенный кронштейн для монитора DS-DM1932W,10,1785,17850
1,2023-01-01,Do'kon,Sergili,Do'kon,Ab002,Мониторы,Экраны Для Видеостен,Кронштейн DS-D5AW/Q является кронштейном для у...,20,4335,86700
2,2023-01-01,Diller,Diller,Vali,Ab003,Мониторы,Мониторы Hikvision,DS-D5055UL-B,2,12112500,24225000
3,2023-01-01,Do'kon,Chilonzor,Do'kon,Ab004,Мониторы,Интерактивный Планшет,DS-D5019QE-B,10,1200500,12005000
4,2023-01-01,Do'kon,Mirzo Ulug'bek,Do'kon,Ab005,Cкуд,Механическая кнопка,DS-K1201MF,15,47175,707625

In [54]:
df.date.describe()

count                   6400
mean     2023-11-16 12:00:00
min      2023-01-01 00:00:00
25%      2023-06-09 18:00:00
50%      2023-11-16 12:00:00
75%      2024-04-24 06:00:00
max      2024-10-01 00:00:00
Name: date, dtype: object

In [55]:
total_revenue = df.revenue.sum()
total_revenue

60476956119

In [56]:
df.head()

,date,form_trade,point_sale,dealer,id_product,category,subcategory,product_name,quantity,price,revenue
0,2023-01-01,Sayt,Sayt,Sayt,Ab001,Мониторы,Мониторы кронштейны,Настенный кронштейн для монитора DS-DM1932W,10,1785,17850
1,2023-01-01,Do'kon,Sergili,Do'kon,Ab002,Мониторы,Экраны Для Видеостен,Кронштейн DS-D5AW/Q является кронштейном для у...,20,4335,86700
2,2023-01-01,Diller,Diller,Vali,Ab003,Мониторы,Мониторы Hikvision,DS-D5055UL-B,2,12112500,24225000
3,2023-01-01,Do'kon,Chilonzor,Do'kon,Ab004,Мониторы,Интерактивный Планшет,DS-D5019QE-B,10,1200500,12005000
4,2023-01-01,Do'kon,Mirzo Ulug'bek,Do'kon,Ab005,Cкуд,Механическая кнопка,DS-K1201MF,15,47175,707625

In [57]:
df.id_product.nunique()

40

In [58]:
df.id_product.unique()

array(['Ab001', 'Ab002', 'Ab003', 'Ab004', 'Ab005', 'Ab006', 'Ab007',
       'Ab008', 'Ab009', 'Ab010', 'Ab011', 'Ab012', 'Ab013', 'Ab014',
       'Ab015', 'Ab016', 'Ab017', 'Ab018', 'Ab019', 'Ab020', 'Ab021',
       'Ab022', 'Ab023', 'Ab026', 'Ab027', 'Ab028', 'Ab029', 'Ab030',
       'Ab031', 'Ab032', 'Ab033', 'Ab034', 'Ab035', 'Ab036', 'Ab037',
       'Ab041', 'Ab042', 'Ab043', 'Ab044', 'Ab045'], dtype=object)

In [59]:
df.product_name.unique()

array(['Настенный кронштейн для монитора DS-DM1932W',
       'Кронштейн DS-D5AW/Q является кронштейном для устан...',
       'DS-D5055UL-B', 'DS-D5019QE-B', 'DS-K1201MF', 'DS-K1201MFh',
       'DS-K1T605MF-B', 'DS-K2601',
       'Беспроводная аварийная кнопка DS-PD1-EB-WS2',
       'Паническая кнопка с педалью DS-PD1-EB-PF',
       'Панель управления DS-19A08-01BNG',
       'Turbo HD видеокамера Hikvision DS-2CE12HFT-F',
       '2Мп камера Hikvision DS-2CD2D25G1-D/NF',
       '2Мп IP-камера Hikvision DS-2CD2D21G0-D/NF',
       'IP камера Hikvision DS-2CD2655FWD-IZS',
       'Поворотная IP-камера DS-2DE2A404IW-DE3 2.8-12MM',
       'Видеорегистратор цифровой DS-9632NI-I8-NVR',
       'Видеорегистратор DS-7732NI-Q4-NVR-32 канала',
       'IP видеорегистратор Hikvision DS-7608NI-K1(B)',
       'Внутренний видеодомофон Hikvision DS-KH2220-S',
       'Блок аудио/видео согласования Hikvision DS-KAD704',
       'Вызывная панель Hikvision DS-KD9203-FE6',
       'IP вызывная панель Hikvision DS-KD3003-E6',
       'Оптический модуль single mode 20KM HK-SFP-1.25G-20...',
       'WI-FI мост DS-3WF03C', 'Wi-Fi мост (комплект) DS-3WF03C-D',
       'Серверный шкаф 37U',
       'Управляемый PoE-коммутатор Hikvision DS-3E2510P',
       'POE EXTENDER до 500M 1PORT DS-1H34-0101P',
       'Приемопередатчик DS-1H18S/E', 'Кабель UTP CAT 6 DS-1LN6U-SCO',
       'DS-1473ZJ-155 Настенный кронштейн',
       'Жесткий диск EXOS ST6000NM0115 6TB',
       'Пульт управления DS-1600KI(B)',
       'Блок питания + UPS 12V 15A / 9CH', 'POE CABLE 30M',
       'Сплиттер VGA SWITCH 4x1', 'Cплиттер HDMI SPLITER 1x16',
       'Пассивный Splitter HDMI SPLITER 1x2 (Пассивный)',
       'Конвертер из AV в VGA', 'DS-K2602',
       'Беспроводная аварийная кнопка DS-PD1-EB-WS3',
       'Блок аудио/видео согласования Hikvision DS-KAD705',
       'Вызывная панель Hikvision DS-KD9203-FE7',
       'IP вызывная панель Hikvision DS-KD3003-E7',
       'Сплиттер VGA SWITCH 4x2', 'Cплиттер HDMI SPLITER 1x17',
       'DS-K2603', 'Беспроводная аварийная кнопка DS-PD1-EB-WS4',
       'Блок аудио/видео согласования Hikvision DS-KAD706',
       'Вызывная панель Hikvision DS-KD9203-FE8',
       'IP вызывная панель Hikvision DS-KD3003-E8'], dtype=object)

In [60]:
df.product_name.nunique()

52

In [61]:
def abc_analysis(total):
    if total < 80:
        return 'A'
    elif total < 95:
        return 'B'
    else:
        return 'C'

# Год 2023

In [62]:
df_23 = df.query('date < "2024-01-01"')

In [63]:
df_23.id_product.nunique()

40

In [64]:
df_23.product_name.nunique()

52

In [65]:
df_23.head()

,date,form_trade,point_sale,dealer,id_product,category,subcategory,product_name,quantity,price,revenue
0,2023-01-01,Sayt,Sayt,Sayt,Ab001,Мониторы,Мониторы кронштейны,Настенный кронштейн для монитора DS-DM1932W,10,1785,17850
1,2023-01-01,Do'kon,Sergili,Do'kon,Ab002,Мониторы,Экраны Для Видеостен,Кронштейн DS-D5AW/Q является кронштейном для у...,20,4335,86700
2,2023-01-01,Diller,Diller,Vali,Ab003,Мониторы,Мониторы Hikvision,DS-D5055UL-B,2,12112500,24225000
3,2023-01-01,Do'kon,Chilonzor,Do'kon,Ab004,Мониторы,Интерактивный Планшет,DS-D5019QE-B,10,1200500,12005000
4,2023-01-01,Do'kon,Mirzo Ulug'bek,Do'kon,Ab005,Cкуд,Механическая кнопка,DS-K1201MF,15,47175,707625

In [66]:
df_23.date.describe()

count                             3650
mean     2023-07-02 00:00:00.000000256
min                2023-01-01 00:00:00
25%                2023-04-02 00:00:00
50%                2023-07-02 00:00:00
75%                2023-10-01 00:00:00
max                2023-12-31 00:00:00
Name: date, dtype: object

In [67]:
total_revenue_23 = df_23.revenue.sum()
total_revenue_23

34510298630

### Группируем по id_product 2023 год

#### Датасэт df_23_product_revenue_b

In [68]:
df_23_product_revenue_b = df_23.groupby(['id_product'], as_index=0).agg({'revenue':'sum'})
df_23_product_revenue_b.head()

  id_product     revenue
0      Ab001  2983859550
1      Ab002   582040980
2      Ab003  2298867820
3      Ab004  2832478152
4      Ab005  1569954075

In [69]:
df_23_product_revenue_b = df_23_product_revenue_b.sort_values('revenue', ascending=False)

In [70]:
df_23_product_revenue_b['percent_total_revenue'] = round(df_23_product_revenue_b['revenue'] / df_23_product_revenue_b.revenue.sum() * 100, 2)

In [71]:
df_23_product_revenue_b['expanding_total_revenue'] = df_23_product_revenue_b['percent_total_revenue'].expanding().sum()

In [72]:
df_23_product_revenue_b['group'] = df_23_product_revenue_b['expanding_total_revenue'].apply(abc_analysis)

In [73]:
df_23_product_revenue_b

,id_product,revenue,percent_total_revenue,expanding_total_revenue,group
0,Ab001,2983859550,8.65,8.65,A
3,Ab004,2832478152,8.21,16.86,A
2,Ab003,2298867820,6.66,23.52,A
17,Ab018,2246282250,6.51,30.03,A
6,Ab007,1897430550,5.50,35.53,A
20,Ab021,1872352500,5.43,40.96,A
4,Ab005,1569954075,4.55,45.51,A
27,Ab030,1538313000,4.46,49.97,A
7,Ab008,1448582880,4.20,54.17,A
10,Ab011,1446273000,4.19,58.36,A
19,Ab020,1180724450,3.42,61.78,A
5,Ab006,1144320150,3.32,65.10,A
14,Ab015,1078620930,3.13,68.23,A
15,Ab016,981812220,2.84,71.07,A
9,Ab010,916486302,2.66,73.73,A
30,Ab033,856328000,2.48,76.21,A
23,Ab026,831510102,2.41,78.62,A
16,Ab017,737818772,2.14,80.76,B
38,Ab044,706860000,2.05,82.81,B
33,Ab036,697301000,2.02,84.83,B
8,Ab009,686865870,1.99,86.82,B
13,Ab014,680807648,1.97,88.79,B
1,Ab002,582040980,1.69,90.48,B
29,Ab032,510954312,1.48,91.96,B
18,Ab019,461186700,1.34,93.30,B
39,Ab045,395045000,1.14,94.44,B
28,Ab031,387719300,1.12,95.56,C
26,Ab029,346054352,1.00,96.56,C
25,Ab028,188673520,0.55,97.11,C
11,Ab012,183448020,0.53,97.64,C
34,Ab037,180665364,0.52,98.16,C
32,Ab035,150978300,0.44,98.60,C
21,Ab022,148349550,0.43,99.03,C
24,Ab027,95830680,0.28,99.31,C
12,Ab013,75078630,0.22,99.53,C
35,Ab041,74624220,0.22,99.75,C
22,Ab023,62861325,0.18,99.93,C
37,Ab043,15845700,0.05,99.98,C
36,Ab042,11719800,0.03,100.01,C
31,Ab034,5373656,0.02,100.03,C

In [74]:
df_23_product_revenue_b.groupby('group', as_index=0).agg({'id_product': 'count', 'revenue': 'sum'})

  group  id_product      revenue
0     A          17  27124195931
1     B           9   5458880282
2     C          14   1927222417

# Год 2024

In [75]:
df_24 = df.query('date > "2023-12-31"')

In [76]:
df_24.id_product.nunique()

40

In [77]:
df_24.product_name.nunique()

52

In [78]:
df_24.head()

,date,form_trade,point_sale,dealer,id_product,category,subcategory,product_name,quantity,price,revenue
3650,2024-01-01,Sayt,Sayt,Sayt,Ab011,Hikvision Axe Pro умный дом,Hikvision Axe Pro умный дом,Панель управления DS-19A08-01BNG,8,2575500,20604000
3651,2024-01-01,Do'kon,Sergili,Do'kon,Ab012,Камеры видеонаблюдения,HD Камеры,Turbo HD видеокамера Hikvision DS-2CE12HFT-F,22,5355,117810
3652,2024-01-01,Diller,Diller,Rashid,Ab013,Камеры видеонаблюдения,IP камеры Hikvision,2Мп камера Hikvision DS-2CD2D25G1-D/NF,20,867,17340
3653,2024-01-01,Do'kon,Chilonzor,Do'kon,Ab014,Камеры видеонаблюдения,Распознаванием номеров видеонаблюдения,2Мп IP-камера Hikvision DS-2CD2D21G0-D/NF,2,8542,17084
3654,2024-01-01,Do'kon,Mirzo Ulug'bek,Do'kon,Ab015,Камеры видеонаблюдения,Проводная Мини Видеонаблюдения,IP камера Hikvision DS-2CD2655FWD-IZS,15,3251250,48768750

In [79]:
df_24.date.describe()

count                   2750
mean     2024-05-17 00:00:00
min      2024-01-01 00:00:00
25%      2024-03-09 00:00:00
50%      2024-05-17 00:00:00
75%      2024-07-25 00:00:00
max      2024-10-01 00:00:00
Name: date, dtype: object

In [80]:
total_revenue_24 = df_24.revenue.sum()
total_revenue_24

25966657489

### Группируем по id_product 2024 год

#### Датасэт df_24_product_revenue_b

In [81]:
df_24_product_revenue_b = df_24.groupby(['id_product'], as_index=0).agg({'revenue':'sum'})
df_24_product_revenue_b.head()

  id_product     revenue
0      Ab001  2265922350
1      Ab002   436610310
2      Ab003  1693995840
3      Ab004  2117066114
4      Ab005  1183032525

In [82]:
df_24_product_revenue_b = df_24_product_revenue_b.sort_values('revenue', ascending=False)

In [83]:
df_24_product_revenue_b['percent_total_revenue'] = round(df_24_product_revenue_b['revenue'] / df_24_product_revenue_b.revenue.sum() * 100, 2)

In [84]:
df_24_product_revenue_b['expanding_total_revenue'] = df_24_product_revenue_b['percent_total_revenue'].expanding().sum()

In [85]:
df_24_product_revenue_b['group'] = df_24_product_revenue_b['expanding_total_revenue'].apply(abc_analysis)

In [86]:
df_24_product_revenue_b

,id_product,revenue,percent_total_revenue,expanding_total_revenue,group
0,Ab001,2265922350,8.73,8.73,A
3,Ab004,2117066114,8.15,16.88,A
17,Ab018,1710928875,6.59,23.47,A
2,Ab003,1693995840,6.52,29.99,A
20,Ab021,1415133750,5.45,35.44,A
6,Ab007,1397346350,5.38,40.82,A
4,Ab005,1183032525,4.56,45.38,A
27,Ab030,1157661750,4.46,49.84,A
10,Ab011,1095006750,4.22,54.06,A
7,Ab008,1051749660,4.05,58.11,A
19,Ab020,890164575,3.43,61.54,A
5,Ab006,860786925,3.31,64.85,A
14,Ab015,833379525,3.21,68.06,A
15,Ab016,743248500,2.86,70.92,A
9,Ab010,687361539,2.65,73.57,A
30,Ab033,643858000,2.48,76.05,A
23,Ab026,625562022,2.41,78.46,A
16,Ab017,562484600,2.17,80.63,B
33,Ab036,533914750,2.06,82.69,B
38,Ab044,531165000,2.05,84.74,B
13,Ab014,515765278,1.99,86.73,B
8,Ab009,515139840,1.98,88.71,B
1,Ab002,436610310,1.68,90.39,B
29,Ab032,383225832,1.48,91.87,B
18,Ab019,349426500,1.35,93.22,B
39,Ab045,298387500,1.15,94.37,B
28,Ab031,290838550,1.12,95.49,C
26,Ab029,267394764,1.03,96.52,C
25,Ab028,145782140,0.56,97.08,C
11,Ab012,137644920,0.53,97.61,C
34,Ab037,135499554,0.52,98.13,C
32,Ab035,116584725,0.45,98.58,C
21,Ab022,114534900,0.44,99.02,C
24,Ab027,73976010,0.28,99.30,C
12,Ab013,56318280,0.22,99.52,C
35,Ab041,55968420,0.22,99.74,C
22,Ab023,48509925,0.19,99.93,C
37,Ab043,12203025,0.05,99.98,C
36,Ab042,9044850,0.03,100.01,C
31,Ab034,4032766,0.02,100.03,C

In [87]:
df_24_product_revenue_b.groupby('group', as_index=0).agg({'id_product': 'count', 'revenue': 'sum'})

  group  id_product      revenue
0     A          17  20372205050
1     B           9   4126119610
2     C          14   1468332829

In [88]:
total_revenue == total_revenue_23 + total_revenue_24

True

In [89]:
total_revenue_23

34510298630

In [90]:
total_revenue_24

25966657489